<header>
  <h1>PatientCare</h1>
</header>
<div class="content">
  <div class="top-bar">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-custom waves-effect waves-light mb-4" type="button"
                  data-toggle="modal" data-target="#addPatientModal">
            <i class="fas fa-plus"></i>Add Patient
          </button>
        </div>
        <div class="col-sm-6">
          <form class="form-inline">
            <input type="search" (ngModelChange)="searchPatients(key.value)" #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patients..." required>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let patient of patients" class="col-lg-4 patient-card">

        <div class="text-center card-box">
          <div class="manage-buttons">
            <button class="btn-secondary" type="button"
                    data-toggle="modal" data-target="#updatePatientModal" (click)="onOpenModal(patient, 'edit')"><i
              class="fas fa-edit"></i></button>
            <button class="btn-secondary" type="button"
                    data-toggle="modal" data-target="#deletePatientModal" (click)="onOpenModal(patient, 'delete')"><i
              class="fas fa-times"></i></button>
          </div>
          <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto round-image">
              <img src="{{patient?.imgUrl}}" class="img-fluid" alt="profile-image">
            </div>
            <div class="">
              <h4>{{patient?.name}} {{patient?.surname}}</h4>
            </div>
            <div class="patient-code">
              <h6>{{patient?.id}}</h6>
            </div>
            <div class="contact-anchors">
              <a href="mailto: {{patient?.email}}"
                 class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"><i
                class="fas fa-at"></i>{{patient?.email}}</a>
              <a href="tel:{{patient?.phone}}"
                 class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"><i
                class="fas fa-phone-alt"></i>{{patient?.phone}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
  Dodanie użytkownika - modal
 -->
<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="addPatientModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPatientModalLabel">Add Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddPatient(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="name">Surname</label>
            <input type="text" ngModel name="surname" class="form-control" id="surname" placeholder="Surname" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <label for="imgUrl">Image URL</label>
            <input type="text" ngModel name="imgUrl" class="form-control" id="imgUrl" placeholder="Image URL" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-patient-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade " id="updatePatientModal" tabindex="-1" role="dialog" aria-labelledby="patientEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePatientModalLabel">Edit Patient{{editPatient?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editPatient?.name}}" name="name" class="form-control" id="name-e"
                   aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" ngModel="{{editPatient?.surname}}" name="surname" class="form-control" id="surname-e"
                   placeholder="Surname">
          </div>
          <input type="hidden" ngModel="{{editPatient?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <input type="hidden" ngModel="{{editPatient?.patientCode}}" name="userCode" class="form-control" id="userCode"
                 placeholder="Email">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editPatient?.email}}" name="email" class="form-control" id="email-e"
                   placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{editPatient?.phone}}" name="phone" class="form-control" id="phone-e"
                   name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="imgUrl-e">Image URL</label>
            <input type="text" ngModel name="imgUrl" class="form-control" id="imgUrl-e" placeholder="Image URL"
                   required>
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdatePatient(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--
  Usunięcie użytkownika - modal
 -->

<div class="modal fade " id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete patient {{deletePatient?.name}} {{deletePatient?.surname}}?</p>
        <script>
          console.log(typeof (deletePatient));
        </script>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeletePatient(deletePatient?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--info o braku pacjentów-->
<div *ngIf="patients.length == 0" class="col-lg-12 col-md-12 col-xl-12" id="noResult">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PATIENTS!</h4>
    <p>No Patients were found.</p>
  </div>
</div>
