body {
  background-image: linear-gradient(to right bottom, #00ffff, #00c6e0, #0090b7, #005c86, #002e51);
  margin-top: 20px;
}
.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b !important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad !important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
.contact-anchors .btn-primary {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
}
.contact-anchors .btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.contact-anchors a {
  position: relative;
  width: 100%;
}
.contact-anchors a i {
  position: absolute;
  left: 12px;
  top: 10px;
}
.patient-card {
  transition: 0.2s box-shadow ease-in-out;
}
.patient-card:hover {
  box-shadow: 20px 18px 50px 18px rgba(0, 0, 0, 0.34);
}
.patient-card .manage-buttons {
  margin-bottom: 15px;
  text-align: right;
}
.patient-card .manage-buttons button {
  margin-left: 10px;
  transition: 0.2s ease-in-out;
  background: none;
  border: none;
}
.patient-card .manage-buttons button i {
  color: #797979;
  transition: 0.2s ease-in-out;
  font-size: 24px;
}
.patient-card .manage-buttons button:hover i.fa-edit {
  color: #0072ff;
}
.patient-card .manage-buttons button:hover i.fa-times {
  color: red;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.top-bar {
  margin-bottom: 20px;
}
.top-bar button {
  border: 4px orange solid;
  background: transparent;
  padding: 10px 20px;
  display: block;
  color: black;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.top-bar button i {
  margin-right: 5px;
}
.top-bar button:hover {
  background: orange;
  color: white;
}
.round-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.round-image img {
  display: block;
  width: 100%;
}
.form-inline {
  float: right;
}
.modal-content {
  background-image: linear-gradient(to right bottom, #00ffff, #00e7ff, #00cdff, #00b1ff, #0091ff);
}
.modal-content .btn-primary {
  transition: 0.2s ease-in-out;
  color: black;
  font-weight: bold;
  background-color: lightgreen;
}
.modal-content .btn-primary:hover {
  background-color: greenyellow;
}
footer {
  text-align: center;
  color: white;
}
header {
  display: block;
  margin-bottom: 50px;
}
/*# sourceMappingURL=styles.css.map */